* {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.Layout {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-gap: 20px;
    grid-template-areas: 
    "h1 h2 h3"
    "h1 h4 h5";
}

.LayoutItem:first-child {
    grid-area: h1;
}

.LayoutItem:nth-child(2) {
    grid-area: h2;
}
.LayoutItem:nth-child(3) {
    grid-area: h3;
}
.LayoutItem:nth-child(4) {
    grid-area: h4;
}
.LayoutItem:nth-child(5) {
    grid-area: h5;
}

.LayoutItem {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

.PostItem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.PostItem {
    border-radius: 30px;
    overflow: hidden;
    height: 300px;
    flex-shrink: 0;
}

.PostItem.LargeImage {
    height: 400px;
}

.PostContent {
    flex: 1;
}
